@using HomeRentManagement.Data;
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Update Home Owner</h5>
            <button type="button" class="btn-close" aria-label="Close" @onclick="hideUpdate"></button>
        </div>
        <div class="modal-body">
            <form @onsubmit="UpdateHouseBtn">
                <div class="form-group">
                    <label for="HouseName">HouseName:</label>
                    <input type="text" class="form-control" @bind=@updateHouse.HouseName required />
                </div>
                <div class="form-group">
                    <label for="HouseAddress">HouseAddress:</label>
                    <input type="text" class="form-control" @bind=@updateHouse.HouseAddress required />
                </div>
                <div class="form-group">
                    <label for="Floor ">Floor:</label>
                    <input type="number" class="form-control" @bind="updateHouse.floorNumber" required />
                </div>


                <div class="form-group">
                    <label for="Status">Status:</label>
                    <select class="form-control" @bind="@updateHouse.StatusId" required>
                        @foreach (var status in statusOptions)
                        {
                            <option value="@status.Id">@status.Name</option>
                        }
                    </select>
                </div>

                <button type="submit" class="btn btn-primary mt-3">Update</button>
            </form>
        </div>


    </div>
</div>
@code {
    [Parameter]
    public House updateHouse{ get; set; }
    [Parameter]
    public List<Status> statusOptions{ get; set; }
    [Parameter]
    public EventCallback UpdateHouseBtn{ get; set; }
    [Parameter]
    public EventCallback hideUpdate { get; set; }

}
