@using HomeRentManagement.Data;
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add House</h5>
            <button type="button" class="btn-close" aria-label="Close" @onclick="HideModal"></button>
        </div>
        <div class="modal-body">
            <RadzenTemplateForm Data="@house" TItem="House" Submit="@SaveHouse">
                <div class="rz-p-0 rz-p-md-12">
                  

                    <RadzenRow Gap="1rem">
                        <RadzenColumn Size="12">
                            <RadzenStack>
                                <RadzenFormField Text="House Name:" Variant="Variant.Filled">
                                    <RadzenTextBox @bind-Value="house.HouseName" Required="true" Style="width: 100%;" />
                                </RadzenFormField>

                                <RadzenFormField Text="House Address:" Variant="Variant.Filled">
                                    <RadzenTextBox @bind-Value="house.HouseAddress" Required="true" Style="width: 100%;" />
                                </RadzenFormField>

                                <RadzenFormField Text="Floor:" Variant="Variant.Filled">
                                    <RadzenNumeric @bind-Value="house.floorNumber" Required="true" Style="width: 100%;" />
                                </RadzenFormField>

                                <RadzenFormField Text="Status:" Variant="Variant.Filled">
                                    <RadzenDropDown @bind-Value="house.StatusId" Data="@statusOptions" TextProperty="Name" ValueProperty="Id" Style="width: 100%;" Required="true" />
                                </RadzenFormField>

                                <RadzenButton Text="Submit" ButtonStyle="ButtonStyle.Primary" Type="Submit" Class="mt-3" />
                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenRow>
                </div>
            </RadzenTemplateForm>

        </div>


    </div>
</div>

@code {
    [Parameter]
    public House house{ get; set; }
    [Parameter]
    public List<Status> statusOptions{ get; set; }
    [Parameter]
    public EventCallback SaveHouse{ get; set; }
    [Parameter]
    public EventCallback HideModal{ get; set; }

}
