@using HomeRentManagement.Data;

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Update Unit</h5>
            <button type="button" class="btn-close" aria-label="Close" @onclick="hideUpdate"></button>
        </div>
        <div class="modal-body">
            <RadzenTemplateForm Data="@updateUnit" TItem="Unit" Submit="@UpdateUnitBtn">
                <div class="rz-p-0 rz-p-md-12">
                    <RadzenRow Gap="1rem">
                        <RadzenColumn Size="12">
                            <RadzenStack>
                                <RadzenFormField Text="Unit Name:" Variant="Variant.Filled">
                                    <RadzenTextBox @bind-Value="updateUnit.unitName" Required="true" Style="width: 100%;" />
                                </RadzenFormField>

                                <RadzenFormField Text="Bed Room:" Variant="Variant.Filled">
                                    <RadzenNumeric @bind-Value="updateUnit.BedRoom" Required="true" Style="width: 100%;" />
                                </RadzenFormField>

                                <RadzenFormField Text="Wash Room:" Variant="Variant.Filled">
                                    <RadzenNumeric @bind-Value="updateUnit.WashRoom" Required="true" Style="width: 100%;" />
                                </RadzenFormField>

                                <RadzenFormField Text="Rent:" Variant="Variant.Filled">
                                    <RadzenNumeric @bind-Value="updateUnit.Rent" Required="true" Style="width: 100%;" />
                                </RadzenFormField>

                                <RadzenFormField Text="Floor Number:" Variant="Variant.Filled">
                                    <RadzenNumeric @bind-Value="updateUnit.FlolorNu" Required="true" Style="width: 100%;" />
                                </RadzenFormField>

                                <RadzenFormField Text="Home:" Variant="Variant.Filled">
                                    <RadzenDropDown @bind-Value="updateUnit.HomeId" Data="@allhome" TextProperty="HouseName" ValueProperty="HouseID" Style="width: 100%;" Required="true" />
                                </RadzenFormField>

                                <RadzenFormField Text="Status:" Variant="Variant.Filled">
                                    <RadzenDropDown @bind-Value="updateUnit.StatusId" Data="@statusOptions" TextProperty="Name" ValueProperty="Id" Style="width: 100%;" Required="true" />
                                </RadzenFormField>

                                <RadzenButton Text="Update" ButtonStyle="ButtonStyle.Primary" Type="Submit" Class="mt-3" />
                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenRow>
                </div>
            </RadzenTemplateForm>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public Unit updateUnit { get; set; }
    [Parameter]
    public EventCallback hideUpdate { get; set; }
    [Parameter]
    public EventCallback UpdateUnitBtn { get; set; }
    [Parameter]
    public List<House> allhome { get; set; }
    [Parameter]
    public List<Status> statusOptions { get; set; }
}
