@using HomeRentManagement.Data;
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Unit</h5>
            <button type="button" class="btn-close" aria-label="Close" @onclick="HideModal"></button>
        </div>
        <div class="modal-body">
            <RadzenTemplateForm Data="@unit" TItem="Unit" Submit="@SaveUnit">
                <div class="rz-p-0 rz-p-md-12">
                    <RadzenRow Gap="1rem">
                        <RadzenColumn Size="12">
                            <RadzenStack>
                                <RadzenFormField Text="Unit Name:" Variant="Variant.Filled">
                                    <RadzenTextBox @bind-Value="unit.unitName" Required="true" Style="width: 100%;" />
                                </RadzenFormField>

                                <RadzenFormField Text="Bed Room:" Variant="Variant.Filled">
                                    <RadzenNumeric @bind-Value="unit.BedRoom" Required="true" Style="width: 100%;" />
                                </RadzenFormField>

                                <RadzenFormField Text="Wash Room:" Variant="Variant.Filled">
                                    <RadzenNumeric @bind-Value="unit.WashRoom" Required="true" Style="width: 100%;" />
                                </RadzenFormField>

                                <RadzenFormField Text="Rent:" Variant="Variant.Filled">
                                    <RadzenNumeric @bind-Value="unit.Rent" Required="true" Style="width: 100%;" />
                                </RadzenFormField>

                                <RadzenFormField Text="Floor Number:" Variant="Variant.Filled">
                                    <RadzenNumeric @bind-Value="unit.FlolorNu" Required="true" Style="width: 100%;" />
                                </RadzenFormField>

                                <RadzenFormField Text="Status:" Variant="Variant.Filled">
                                    <RadzenDropDown @bind-Value="unit.StatusId" Data="@statusOptions" TextProperty="Name" ValueProperty="Id" Style="width: 100%;" Required="true" />
                                </RadzenFormField>

                                <RadzenButton Text="Submit" ButtonStyle="ButtonStyle.Primary" Type="Submit" Class="mt-3" />
                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenRow>
                </div>
            </RadzenTemplateForm>

        </div>
    </div>
</div>
@code {
    [Parameter]
    public Unit unit{ get; set; }
    [Parameter]
    public EventCallback HideModal{ get; set; }
    [Parameter]
    public EventCallback SaveUnit { get; set; }
    [Parameter]
    public List<House> allhome { get; set; }

    [Parameter]
    public List<Status> statusOptions { get; set; }

    private int _newHome;
    [Parameter]
    public int newHome
    {
        get => _newHome;
        set
        {
            if (_newHome != value)
            {
                _newHome = value;
                NewHomeChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public EventCallback<int> NewHomeChanged { get; set; }
}
