@inherits LayoutComponentBase

<PageTitle>HomeRentManagement</PageTitle>
 
<div class="page">


    <AuthorizeView>
            <Authorized>
    <div class="sidebar">
        <NavMenu />
       
    </div>
        </Authorized>

    </AuthorizeView>



  
    <main>

        <AuthorizeView>
            <Authorized>
                <!-- You can add sidebar-specific content here if needed -->
                <article class="content px-4">
                    @Body
                </article>
            </Authorized>
            <NotAuthorized>

                <HomeRentManagement.Pages.LogIn />

            </NotAuthorized>
        </AuthorizeView>
    </main>
</div>
@code {
  
}